@charset "utf-8";

$menu_width: 200px;

header {
    width: 100%;
    height: 150px;
    background-color: #ddffdd;
}

section {
    overflow: hidden;
}

nav {
    width: $menu_width;
    background-color: #aaeeaa;
    float: left;
}

article {
    float: right;
    width: 100%;
    margin-left: -$menu_width;
    padding-left: $menu_width;
    box-sizing: border-box;
    background-color: #eeffee;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #ddffdd;
    float: left;
}

@media only screen and (min-width: 769px)
{

}

@media only screen and (min-width: 961px)
{

}
